.auth__field {
  margin-top: 8px;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  }
  
.auth__field:first-of-type {
  margin-top: 0;
}