.popup__close-button {
  width: 32px;
  height: 32px;
  /* Позиционирование */
  padding: 0;
  position: absolute;
  top: -40px;
  right: -40px;
  /* Стилизация */
  outline: none;
  border: none;
  background: none;
  cursor: pointer;
  background-image: url(../../../image/Close-Icon.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.popup__close-button:hover {
  opacity: 0.6;
}

@media screen and (max-width: 550px) {
  .popup__close-button {
    width: 20px;
    height: 20px;
    top: -36px;
    right: 0px;
  }
}
