.profile {
  max-width: 880px;
  /* Позиционирование */
  margin: 0 auto;
  padding: 40px 0 50px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (-webkit-max-content);
  -ms-grid-columns: (max-content);
  grid-template-columns: repeat(2, -webkit-max-content);
  grid-template-columns: repeat(2, minmax(150px, -webkit-max-content));
  grid-template-columns: repeat(2, minmax(150px, max-content));
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
          -webkit-column-gap: 20px;
             -moz-column-gap: 20px;
                  column-gap: 20px;
}

@media screen and (max-width: 920px) {
  .profile {
    padding: 40px 19px 50px 19px;
  }
}

@media screen and (max-width: 710px) {
  .profile {
    padding: 42px 19px 36px 19px;
    -ms-grid-columns: 100%;
    grid-template-columns: 100%;
    row-gap: 36px;
  }
}
