.header__link {
  margin: 0;
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  line-height: 22px;
}

.header__link:hover {
  opacity: 0.6;
}

@media screen and (max-width: 550px) {
  .header__link {
    margin-top: 18px;
    font-size: 14px;
    line-height: 17px;
  }
}