.auth__link {
  margin: 15px 0 0;
  text-decoration: none;
  color: #fff;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
}

.auth__link:hover {
  opacity: 0.8;
}

@media screen and (max-width: 550px) {
  .auth__link {
    margin: 18px 0 0;
    font-size: 14px;
    line-height: 17px;
  }
}