.popup__container {
  width: 430px;
  /* Позиционирование */
  margin: 0;
  padding: 34px 36px 37px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  /* Фон */
  background-color: #fff;
  border-radius: 10px;
  cursor: auto;
}

@media screen and (max-width: 550px) {
  .popup__container {
    max-width: 282px;
    padding: 25px 22px;
  }
}
