.elements__list {
  width: 100%;
  /* Позиционирование */
  list-style: none;
  padding: 0;
  margin: 0;
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(282px, 1fr));
  gap: 20px 17px;
}

@media screen and (max-width: 920px) {
  .elements__list {
    padding: 0 19px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
}
