.popup__input {
  width: 100%;
  /* Позиционирование */
  margin: 0;
  padding: 0 0 10px;
  /* Параметры текста */
  font-size: 14px;
  line-height: 17px;
  /* Стилизация */
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.popup__input:focus {
  outline: none;
}

.popup__input::placeholder {
  color: #C4C4C4;
}
