.header {
  max-width: 880px;
  position: relative;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 45px 0 41px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
}

@media screen and (max-width: 920px) {
  .header {
    padding: 28px 29px 32px 29px;
  }
}

@media screen and (max-width: 550px) {
  .header {
    flex-direction: column;
  }
}